.bar {
  fill-opacity: 0.7;
}

.bar:hover {
  fill-opacity: 1;
}

.axis-label {
  font-size: 12px;
}

.legend {
  font-size: 14px;
}

.legend rect {
  width: 18px;
  height: 18px;
  fill-opacity: 0.7;
}

.legend rect:hover {
  fill-opacity: 1;
}

.note {
  font-size: 16px;
  font-weight: bold;
}
